/* styles.css */

html {
  max-width: 400px;
  max-height: 700px;
}

body#main {
  padding: 5%;
  margin: 5px 5px 0 5px;
  font-family: 'Roboto', sans-serif;
  color: #2B2B2B;
  overflow: hidden;
}

#main p {
  font-size: 1.25em;
  text-align: center;
  padding: 5%;
}

div#phone {
  border-top: 50px solid #222;
  border-bottom: 50px solid #222;
  border-right: 15px solid #222;
  border-left: 15px solid #222;
  border-radius: 30px;
  max-width: 225px;
  margin: auto;
}

div#background {
  background: url('map.png') 60% 10%;
  height: 100%;
  background-size: cover;
}

i.fa {
  font-size: 4em;
  display: block;
  text-align: center;
  color: #ff5a5a;
  position: relative;
  top: 25%;
  transform: translateY(-25%);
  left: -25px;
}

a#back {
  height: 30px;
  width: 100px;
  display: block;
  position: absolute;
  top: 17.5px;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  left: 0;
}

img#profile {
  width: 100%;
  margin: 0 auto 50px;
}

img#logo {
  width: 40%;
  margin: auto;
  display: block;
}

/* Animation for profile page */

.slideUpClass{
  animation: slideUp linear 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: slideUp linear 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: slideUp linear 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: slideUp linear 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: slideUp linear 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes slideUp{
  0% {
    transform:  translate(0px,1000px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes slideUp{
  0% {
    -moz-transform:  translate(0px,1000px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform:  translate(0px,1000px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform:  translate(0px,1000px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes slideUp {
  0% {
    -ms-transform:  translate(0px,1000px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}

.bounceOutIn{
  animation: bounce ease-out 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: bounce ease-out 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounce ease-out 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: bounce ease-out 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: bounce ease-out 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes bounce{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    transform:  scaleX(1.25) scaleY(1.25) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes bounce{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleX(1.25) scaleY(1.25) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  scaleX(1.25) scaleY(1.25) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -o-transform:  scaleX(1.25) scaleY(1.25) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes bounce {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    -ms-transform:  scaleX(1.25) scaleY(1.25) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}
